body {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    scroll-behavior: smooth;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: 2fr 1fr 4fr;
}

#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
#location {
    font-size: 4rem;
    margin-top: -20px;
}

img {
    filter: invert(1);
    width: 30px;
    margin: -40px auto 0 auto;
}

.top-head {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.224);
    height: min-content;
    border-bottom: white solid 1px;
}

form {
    margin: -20px auto 0;
    height: fit-content;
    padding-bottom: 20px;
}

#location-input {
    padding: 7px;
    border-radius: 3px;
    width: 300px;
}

button {
    width: 20%;
    height: 40px;
    border: none;
    margin-top: 20px;
    background-color: rgb(255, 187, 99);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 176, 72);
}

#daily-panel {
    display: grid;
    border: white solid 1px;
    color: white;
    border-radius: 12px;
    grid-template-columns: repeat(5, 1fr);
    margin: -180px auto 0 auto;
    width: 80vw;
    height: min-content;
    min-width: 757px;
    min-height: 142px;
    background-color: rgba(0, 0, 0, 0.267);
}

.daily-panel-item {
    height: max-content;
    text-align: center;
}

.daily-panel-item:last-of-type {
    border: none;
}

.daily-panel-item:first-of-type, .hourly-panel-item:first-of-type {
    color: yellow;
}

.daily-panel-item-temp, .hourly-panel-item-temp {
    font-size: 3rem;
}

.daily-panel-item-date {
    border-bottom: white solid 1px;
    padding-bottom: 10px;
}

#bottom-panel {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#hourly-panel, #info-panel {
    display: flex;
    flex-direction: column;
    margin: 20px auto 40px auto;
    background-color: rgba(0, 0, 0, 0.267);
    border: white solid 1px;
    color: white;
    width: 50%;
    border-radius: 30px;
    align-items: center;
    justify-content: left;
    text-align: center;
    height: 100%;
    padding-top: 20px;
}

#hourly-panel-title {
    text-decoration: underline;
    margin-bottom: -30px;
}

.info-panel>h1 {
    margin-top: -20px;
    font-size: 2.7rem;
}
.hourly-panel-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: -60px;
}

.hourly-panel-item-time {
    border-right: white solid 1px;
    padding-right: 30px;
}

footer {
    text-align: center;
    margin: auto;
    width: 20%;
    height: 5%;
    border-radius: 25px;
    color: white;
    background-color: black;
    margin-top: -5%;
    padding-bottom: 80px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.224);
    border: white solid 1px;
    border-radius: 5px;
}