body {
    font-family: 'Titillium Web', sans-serif;
    color: gainsboro;
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-template-rows: 2fr 1fr 4fr;
}

#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
#location {
    font-size: 4rem;
    margin-top: -20px;
}

#title, #daily-panel, #hourly-panel {
    text-align: center;
    filter: drop-shadow(0px 2px 5px rgb(0, 0, 0));
}

#daily-panel {
    display: grid;
    border: gainsboro solid 1px;
    border-radius: 12px;

    grid-template-columns: repeat(7, 1fr);
    margin: -170px auto 0 auto;
    width: 80vw;
    height: min-content;
    min-width: 757px;
    min-height: 142px;
    background-color: rgba(0, 0, 0, 0.224);
}

.daily-panel-item {

    height: max-content;

}

.daily-panel-item.last {
    border: none;
}

.daily-panel-item-temp, .hourly-panel-item-temp {
    font-size: 3rem;
}

.daily-panel-item-date {
    border-bottom: white solid 1px;
    padding-bottom: 10px;
}

#hourly-panel {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.224);
    width: 20%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 70%;
}

#hourly-panel-title {
    text-decoration: underline;
    margin-bottom: -30px;
    margin-top: -40px;
}

.hourly-panel-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: -60px;

}

.hourly-panel-item-time {
    border-right: white solid 1px;
    padding-right: 30px;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 40px;
}